#root {
    -fx-background-image: url(background.jpg);

}
.button {
    -fx-background-color: dark;
}

.button:hover {
    -fx-background-color: #553e6f ;
}
.button:pressed {
    -fx-background-color: #3c2654 ;
}

#root2 {
    -fx-background-image: url(background.jpg);
}



