#root {
    -fx-background-image: url(background.jpg);

}
.button {
    -fx-background-color: dark;
}

.button:hover {
    -fx-background-color: #553e6f ;
}
.button:pressed {
    -fx-background-color: #3c2654 ;
}

#root2 {
    -fx-background-image: url(background.jpg);
}

#root3 {
    -fx-background-image: url(background.jpg);

}

#root4 {
    -fx-background-image: url(background.jpg);

}#root5 {
     -fx-background-image: url(background.jpg);

 }#root6 {
      -fx-background-image: url(background.jpg);

  }#root7 {
       -fx-background-image: url(background.jpg);

   }#root8 {
        -fx-background-image: url(background.jpg);

    }#root9 {
         -fx-background-image: url(background.jpg);

     }#root10 {
          -fx-background-image: url(background.jpg);

      }#root11 {
           -fx-background-image: url(background.jpg);

       }#root12 {
            -fx-background-image: url(background.jpg);

        }#root13 {
             -fx-background-image: url(background.jpg);

         }#root14 {
              -fx-background-image: url(background.jpg);

          }#root15 {
               -fx-background-image: url(background.jpg);

           }



